body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, roboto, Arial, Helvetica, sans-serif;
}

.container-all {
    width: 100%;
}

.container-1 {
    width: 73%;
    margin: auto;
}

.tt-chucnang {
    width: 100%;
    background-color: #007EA9;
}

.tt-chucnang-1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 0px;
    justify-content: space-between;
}

.tt-flex {
    margin: 0;
    padding: 0;
}

.tt-vaitro {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tt-tinhnang:hover {
    background-color: #fff;
    padding: 15px 10px;
    color: #007EA9;
}

.tt-tinhnang {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
}

.tt-search-all {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tt-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tt-input {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand>img {
    height: 50px;
}

.tt-search-1 {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tt-button {
    margin-left: 7px;
    border: none;
    background-color: #fff;
    color: #007EA9;
    font-size: 14px;
}

.tt-icon {
    text-decoration: none;
}

.tt-icon>img {
    height: 30px;
}

.tt-boder {
    height: 20px;
    border-right: 1px solid #ccc;
}

#tt-form-select {
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    width: 100%;
}

.tt-anhvn {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.icon-only {
    text-indent: -9999px;
}

.tt-ngonngu {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.tt-line {
    border-top: 1px solid #ccc;
}

#tt-menu {
    margin: auto;
    gap: 15px;
}

.container-body {
    width: 100%;
    background-color: #FBFBFB;
}

.tt-bread {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.tt-bread>i {
    margin-top: 3px;
}

.tt-bread>a {
    text-decoration: none;
    font-weight: 700;
    color: #0076CA;
}

.tt-item {
    margin-right: 5px;
}

.tt-item-1 {
    margin-left: 5px;
}

.cc-picture>img {
    width: 100%;
    margin-top: 20px;
    object-fit: cover;
}

.gt-item {
    color: #0076c0;
    font-weight: 700;
}

.gt-post-detail {
    width: 100%;
}

.gt-detail-content {
    display: flex;
    flex-wrap: wrap;
}

.gt-post-detail-1 {
    width: 66.6667%;
}

.gt-line {
    border-bottom: 1px solid #ddd;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 1.2;
}

.gt-main-article {
    line-height: 1.8;
}

.gt-main-article>p {
    font-size: 16px;
    margin-bottom: 1rem;
    margin-top: 0;
}

.gt-anh {
    margin: 0 auto 15px;
}

.gt-anh-1>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.gt-caption {
    font-size: 12px;
    text-align: center;
    margin: 10px auto 0;
}

.gt-sieuam {
    text-decoration: none;
    color: #0077aa;
}

.gt-sieuam:hover {
    text-decoration: underline;
}

.gt-meta-bottom {
    padding: 8px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.gt-share {
    color: #999;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gt-socical-share {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    gap: 10px;
    margin: 0;
    margin-left: 1rem;
}

.gt-list-subtitle {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.gt-list-subtitle>li:not(:last-child) {
    margin-right: 8px;
    padding-right: 8px;
    position: relative;
}

.gt-list-subtitle>li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 55%;
    right: 0;
    height: 70%;
    border-right: 1px solid #286ba6;
    transform: translateY(-50%);
}

.gt-list-subtitle>li>a {
    text-decoration: none;
    color: #286ba6;
}

.gt-list-subtitle>li>a:hover {
    text-decoration: underline;
}

.gt-sidebar {
    width: 33.33333%;
    padding-left: 50px;
}

.gt-widget-post-sidebar {
    border-top: 1px solid #ccc;
}

.gt-widget-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 700;
}

.gt-post {
    display: flex;
    align-items: center;
}

.gt-post:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.gt-post-thumb {
    width: 150px;
    height: 100px;
    margin-right: 12px;
}

.gt-post-thumb>img {
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.gt-post-info {
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
}

.gt-post-info>a {
    text-decoration: none;
    color: #222;
    font-weight: 600;
    transition: all 0.5s ease
}

.gt-post-info>a:hover {
    color: #0076c0;
}

.gt-post-thumb-1>img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.tt-bottom-main {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.tt-widget {
    color: #0076c0;
}

.tt-widget>a {
    text-decoration: none;
    color: #007EA9;
}

.tt-widget.tt-boder-right:not(:last-of-type)::after {
    content: "|";
    padding: 0 15px;
}

.tt-medium {
    width: 98%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#tt-medium-size {
    font-size: 15px;
    color: #222;
    transition: all 0.5s ease;
}

#tt-medium-size:hover {
    color: #0076c0;
}

#card-boder-medium {
    width: 22%;
    border-radius: 0;
    border: none;
}

#card-boder-medium>a>img {
    border-radius: 0;
    object-fit: cover;
    height: 135px;
}

#card-medium {
    background-color: #FBFBFB;
    padding: 0;
    margin-top: 1rem;
}

#card-medium>a {
    text-decoration: none;
}

.gt-related-posts {
    margin-top: 20px;
    margin-bottom: 50px;
}

.gt-related-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tt-thanhtich-nhieu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
}

.tt-thanhtich-nhieu-1 {
    width: 33.33333%;
    padding-right: 1rem;
}

.card-thanhtich>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#card-title {
    color: #222;
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 1.2;
    margin-top: 30px;
    font-weight: 600;
    transition: all 0.5s ease;
}

#card-title:hover {
    color: #0076c0;
}

#card-text {
    font-size: 16px;
}

.card {
    width: 98%;
}

.card-body>a {
    color: #999;
    font-size: 12px;
    text-decoration: none;
}

.card-body>a:hover {
    color: #007EA9;
}

#tt-xemthem {
    padding: 0;
}

.btn-size>img {
    width: 16px;
    height: 12px;
    margin-left: 5px;
}

#card-boder {
    border-radius: 0;
    border: none;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    height: 500px;
    min-height: 500px;
}


.tt-footer {
    width: 100%;
    background-color: #fff;
}

.tt-footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

#card-footer {
    width: 20%;
    border: none;

}

#card-body-footer {
    border-radius: 0;
    border: none;
}

#card-body-footer>h5 {
    font-size: 16px;
    font-weight: 700;
}

.tt-footer-item>a {
    text-decoration: none;
}

.tt-footer-item>a>p {
    padding: 0;
    margin: 0;
    color: #4d4c4c;
    font-size: 14px;
}

.tt-footer-item>a>p:hover {
    color: #0076c0;
}

.tt-footer-item {
    margin-top: 10px;
    line-height: 27px;
}

.card-text {
    display: flex;
}

.card-text>a {
    text-decoration: none;
    margin: 10px;
}

.card-text>a>img {
    width: 35px;
    height: 35px;
}

.gt-banner-block {
    width: 100%;
    margin-top: 45px;
}

.gt-block-anh {
    text-decoration: none;
    width: 100%;
}

.gt-block-anh>img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}

.tt-footer-active>a>img {
    width: 130px;
    padding: 5px;

}

.tt-footer-active-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tt-footer-thongtin>img {
    width: 200px;
    padding: 5px;

}

.tt-footer-thongtin-1>img {
    width: 130px;
}

.footer-2 {
    width: 100%;
    background-color: #F7F7F7;
}

.tt-footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.tt-footer-banquyen {
    font-size: 11px;
    color: #828282;
}

.tt-footer-nolist {
    list-style: none;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin: 0;
    font-size: 11px;
}

.tt-footer-inline {
    padding: 1px 10px;
    margin: 0;
    border-right: 1px solid #999;
}

.tt-footer-inline>a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #828282;
}

.tt-footer-boder-none {
    border: none;
}

.tt-menu-icon {
    display: none;
    font-size: 25px;
    color: #0076c0;
}

.tt-icon-search {
    font-size: 25px;
    color: #0076c0;
    display: none;
}

.offcanvas-title>a>img {
    height: 50px;
}

.capcuu {
    width: 90%;
    margin: auto;
    font-size: 15px;
    border-bottom: 1px solid #999;
}

.capcuu>a {
    text-decoration: none;
    color: #4d4c4c;
}

.none-boder {
    border-bottom: none;
}

.accordion-button-none::after {
    display: none;
}

.accordion-button>a {
    text-decoration: none;
    color: #212529;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #999;
    display: none;
}

@media (1025px < width < 1430px) {
    .container-1 {
        width: 93%;
    }

    .menu {
        width: 100%;
    }

    #tt-menu {
        gap: 5px;
    }

    #card-title {
        font-size: 20px;
    }

    #card-text {
        font-size: 14px;
    }
}

@media (751px < width < 1024px) {
    .container-1 {
        width: 98%;
    }

    .menu {
        width: 100%;
        display: block;
    }

    .container-body-1 {
        width: 98%;
        margin: auto;
    }

    .gt-post {
        flex-direction: column;
        align-items: flex-start;
    }

    #tt-menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }

    #navbarNav {
        display: block;
    }

    #card-title {
        font-size: 20px;
    }

    .tt-thanhtich-nhieu-1 {
        width: 50%;
    }

    .gt-related-posts {
        width: 98%;
        margin: auto;
        margin-top: 15px;
    }

    .tt-bottom-main {
        width: 98%;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .tt-medium {
        width: 98%;
        margin: auto;
        justify-content: flex-start;
        gap: 25px;
    }

    #card-boder-medium {
        width: 47%;
        margin-bottom: 10px;
    }

    .gt-banner-block {
        width: 98%;
        margin: auto;
        margin-top: 20px;
    }

    .gt-block-anh>img {
        width: 98%;
    }

    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }
}

@media (width < 750px) {
    .container-1 {
        width: 98%;
        margin: auto;
    }

    .tt-form-none {
        display: none;
    }

    .tt-menu-icon {
        display: block;
    }

    .tt-icon-search {
        display: block;
    }

    .tt-anhvn {
        top: 3px;
    }

    .tt-chucnang-1 {
        justify-content: space-around;
    }

    .tt-tinhnang {
        font-size: 8px;
    }

    .tt-menu-icon>i {
        font-size: 25px;
        color: #0076c0;
    }

    .tt-search-all {
        margin: auto;
        align-items: center;
    }

    .tt-boder-1 {
        display: block;
    }

    .container-body-1 {
        width: 92%;
        margin: auto;
    }

    .gt-line {
        font-size: 25px;
    }

    .gt-detail-content {
        flex-direction: column;
    }

    .gt-post-detail-1 {
        width: 100%;
    }

    .gt-sidebar {
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
    }

    .tt-thanhtich-nhieu-1 {
        width: 100%;
        padding-right: 0;
        margin: auto;
    }

    .gt-related-posts {
        width: 92%;
        margin: auto;
        margin-top: 20px;
    }

    .tt-bottom-main {
        width: 92%;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .tt-medium {
        width: 92%;
        margin: auto;
        justify-content: flex-start;
    }

    #card-boder-medium {
        width: 98%;
        margin-top: 20px;
    }

    #card-boder-medium>a>img {
        height: 250px;
    }

    .tt-bottom-main {
        justify-content: space-around;
        gap: 2px;
    }

    .tt-widget.tt-boder-right:not(:last-of-type)::after {
        content: none;
    }

    .gt-banner-block {
        width: 92%;
        margin: auto;
        margin-top: 20px;
    }

    .gt-block-anh>img {
        width: 98%;
    }

    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }

    #card-footer {
        width: 45%;
    }

    .tt-footer-active {
        display: flex;
        flex-direction: column;
    }

    .tt-footer-2 {
        justify-content: flex-end;
        flex-direction: column;
    }

    .tt-footer-nolist {
        flex-direction: column;
    }

    .tt-footer-inline {
        border: none;
    }

    .tt-footer-banquyen {
        order: 2;
    }
}