body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, roboto, Arial, Helvetica, sans-serif;
}

.container-all {
    width: 100%;
}

.container-body {
    width: 100%;
    background-color: #F7F7F7;
}

.container-1 {
    width: 73%;
    margin: auto;
}

.tt-chucnang {
    width: 100%;
    background-color: #007EA9;
}

.tt-chucnang-1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 0px;
    justify-content: space-between;
}

.tt-flex {
    margin: 0;
    padding: 0;
}

.tt-vaitro {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tt-tinhnang:hover {
    background-color: #fff;
    padding: 15px 10px;
    color: #007EA9;
}

.tt-tinhnang {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
}

.tt-search-all {
    display: flex;
    justify-content: space-around;
}

.tt-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tt-input {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand>img {
    height: 50px;
}

.tt-search-1 {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tt-button {
    margin-left: 7px;
    border: none;
    background-color: #fff;
    color: #007EA9;
    font-size: 14px;
}

.tt-icon {
    text-decoration: none;
}

.tt-icon>img {
    height: 30px;
}

.tt-boder {
    height: 20px;
    border-right: 1px solid #ccc;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #ccc;
    display: none;
}

#tt-form-select {
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    width: 100%;
}

.tt-anhvn {
    position: absolute;
    top: 5px;
    z-index: 1;
}

.icon-only {
    text-indent: -9999px;
}

.tt-ngonngu {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.tt-line {
    border-top: 1px solid #ccc;
}

#tt-menu {
    margin: auto;
    gap: 15px;
}

/* main */

.cover-list-news {
    height: 400px;
    max-height: 440px;
    text-align: center;
    position: relative;
}

.cover-list-news>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-cate-cover {
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    line-height: 60px;
}

.thanhtuu-bar_util {
    width: 64%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 12px -9px #000;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

.thanhtuu-col-4 {
    width: 33.33333%;
}

.thanhtuu-col-4>a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}

.thanhtuu-col-4>a>img {
    margin-right: 10px;
    height: 30px;
}

.thanhtuu-col-4:nth-child(1) {
    padding: 15px;
    background-color: #0076c0;
}

.thanhtuu-col-4:nth-child(2) {
    padding: 15px;
    background-color: #d6982f;
}

.thanhtuu-col-4:nth-child(3) {
    padding: 15px;
    background-color: #51be9d;
}

.tt-bread {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.tt-bread>i {
    margin-top: 3px;
}

.tt-item {
    margin-right: 5px;
    text-decoration: none;
    font-weight: 700;
    color: #0076CA;
    font-size: 14px;
}

.tt-item-1 {
    margin-left: 5px;
}

.tt-item-color {
    color: #212529;
    font-weight: 400;
}

.sm-top_vision {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.sm-anh {
    width: 50%;
    padding: 10px;
}

.sm-anh>img {
    width: 100%;
}

.sm-content_vision {
    width: 50%;
    padding-left: 40px;
}

.sm-title_cate_news {
    font-size: 26px;
    font-weight: 700;
    position: relative;
    margin-bottom: 15px;
}

.sm-title_cate_news:after {
    content: "";
    width: 73px;
    background: #51be9d;
    position: absolute;
    bottom: -5px;
    display: block;
    height: 3px;
}

.sm-mota>p {
    margin: 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.cl-blue {
    color: #0076c0;
    font-weight: 700;
}

.sm-bottom_vision {
    display: flex;
}

.sm-key_vision {
    width: 50%;
}

.sm-list_key_vision {
    display: flex;
    flex-wrap: wrap;
}

.sm-align-item-end {
    display: flex;
    align-items: flex-end;
}

.sm-col-6 {
    width: calc(50% - 30px);
    margin: 0 15px;
    margin-bottom: 30px;
}

.sm-align-item-end>img {
    width: 16%;
    margin-right: 1rem;
}

.sm-f22 {
    text-transform: uppercase;
    font-size: 20px;
}

.mt2 {
    margin-top: 1rem;
}

.sm-bg_data_vision {
    width: 100%;
    background-color: #0067ab;
}

.sm-bg_data_vision {
    color: #fff;
    padding: 60px 15px;
}

.sm-title_data {
    font-size: 30px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;
}

.sm-flex {
    display: flex;
    flex-wrap: wrap;
}

.sm-col-4 {
    width: 30%;
}

.sm-title_data:before {
    height: 3px;
    width: 100px;
    content: "";
    background: #fff;
    display: inline-block;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.mt-50 {
    margin-top: 50px;
}

.sm-f30 {
    font-size: 30px;
    font-weight: 700;
    line-height: 10px;
}

.sm-col-8 {
    width: 70%;
}

.sm-list_number_vision {
    list-style: none;
}

.mb1 {
    margin-bottom: 1.3rem;
}

.sm-list_number_vision li {
    width: calc(33.33% - 60px);
    margin-left: 60px;
    border-top: 1px solid #fff;
    padding-top: 25px;
    margin-bottom: 30px;
}

.sm-size {
    font-size: 14px;
}

/* footer */
.tt-footer {
    width: 100%;
    background-color: #fff;
}

.tt-footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

#card-footer {
    width: 20%;
    border: none;

}

#card-body-footer {
    border-radius: 0;
    border: none;
}

#card-body-footer>h5 {
    font-size: 16px;
    font-weight: 700;
}

.tt-footer-item>a {
    text-decoration: none;
}

.tt-footer-item>a>p {
    padding: 0;
    margin: 0;
    color: #4d4c4c;
    font-size: 14px;
}

.tt-footer-item>a>p:hover {
    color: #0076c0;
}

.tt-footer-item {
    margin-top: 10px;
    line-height: 27px;
}

.card-text {
    display: flex;
}

.card-text>a {
    text-decoration: none;
    margin: 10px;
}

.card-text>a>img {
    width: 35px;
    height: 35px;
}

.tt-footer-active>a>img {
    width: 130px;
    padding: 5px;

}

.tt-footer-active-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tt-footer-thongtin>img {
    width: 200px;
    padding: 5px;

}

.tt-footer-thongtin-1>img {
    width: 130px;
}

.footer-2 {
    width: 100%;
    background-color: #F7F7F7;
}

.tt-footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.tt-footer-banquyen {
    font-size: 11px;
    color: #828282;
}

.tt-footer-nolist {
    list-style: none;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin: 0;
    font-size: 11px;
}

.tt-footer-inline {
    padding: 1px 10px;
    margin: 0;
    border-right: 1px solid #999;
}

.tt-footer-inline>a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #828282;
}

.tt-footer-boder-none {
    border: none;
}

.tt-menu-icon {
    display: none;
}

.tt-icon-search {
    font-size: 25px;
    color: #0076c0;
    display: none;
}

.offcanvas-title>a>img {
    height: 50px;
}

.capcuu {
    width: 90%;
    margin: auto;
    font-size: 15px;
    border-bottom: 1px solid #999;
}

.capcuu>a {
    text-decoration: none;
    color: #4d4c4c;
}

.none-boder {
    border-bottom: none;
}

.accordion-button-none::after {
    display: none;
}

.accordion-button>a {
    text-decoration: none;
    color: #212529;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #999;
    display: none;
}

@media (1025px < width < 1430px) {
    .container-1 {
        width: 93%;
    }

    .menu {
        width: 100%;
    }

    #tt-menu {
        gap: 5px;
    }

    #card-boder {
        height: 500px;
    }
}

@media (751px < width < 1024px) {
    .container-1 {
        width: 98%;
    }

    .menu {
        width: 100%;
        display: block;
    }

    #tt-menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }

    #navbarNav {
        display: block;
    }

    /* main */
    .sm-col-6 {
        width: auto;
    }

    /* footer */
    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }
}

@media (width < 750px) {
    .container-1 {
        width: 98%;
        padding: 0 15px;
    }

    .tt-menu-icon {
        display: block;
    }

    .tt-form-none {
        display: none;
    }

    .tt-icon-search {
        display: block;
    }

    .tt-menu-icon {
        font-size: 25px;
        color: #0076c0;
    }

    .tt-search-all {
        align-items: center;
        margin: auto;
    }

    .tt-anhvn {
        top: 3px;
    }

    .tt-boder-1 {
        display: block;
    }


    .tt-bottom-main {
        flex-wrap: wrap;
        align-items: center;
    }

    .tt-widget.tt-boder-right:not(:last-of-type)::after {
        content: "";
    }

    /* main */
    .thanhtuu-bar_util {
        display: none;
    }

    .cover-list-news {
        height: 240px;
    }

    .name-cate-cover {
        top: 39%;
        font-size: 30px;
    }

    .sm-top_vision {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .sm-anh {
        width: 100%;
    }

    .sm-content_vision {
        width: 100%;
        padding: 0;
    }

    .sm-bottom_vision {
        flex-wrap: wrap;
    }

    .sm-key_vision {
        width: 100%;
    }

    .sm-list_key_vision {
        margin-top: 30px;
    }

    .sm-f22 {
        font-size: 14px;
    }

    .sm-flex {
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        margin: 0;
    }

    .sm-col-4 {
        width: 100%;
    }

    .sm-col-8 {
        width: 100%;
    }

    .sm-list_number_vision li {
        width: 44%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .sm-f30 {
        font-size: 27px;
    }

    .tt-vaitro {
        margin: auto;
    }

    .tt-tinhnang {
        font-size: 10px;
    }

    /* footer */
    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }

    #card-footer {
        width: 45%;
    }

    .tt-footer-active {
        display: flex;
        flex-direction: column;
    }

    .tt-footer-2 {
        justify-content: flex-end;
        flex-direction: column;
    }

    .tt-footer-nolist {
        flex-direction: column;
    }

    .tt-footer-inline {
        border: none;
    }

    .tt-footer-banquyen {
        order: 2;
    }
}