body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, roboto, Arial, Helvetica, sans-serif;
}

.container-all {
    width: 100%;
}

.container-1 {
    width: 73%;
    margin: auto;
}

.tt-chucnang {
    width: 100%;
    background-color: #007EA9;
}

.tt-chucnang-1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 7px 0px;
    justify-content: space-between;
}

.tt-flex {
    margin: 0;
    padding: 0;
}

.tt-vaitro {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tt-tinhnang:hover {
    background-color: #fff;
    padding: 15px 10px;
    color: #007EA9;
}

.tt-tinhnang {
    color: #fff;
    font-size: 12px;
    padding: 0px 10px;
    text-decoration: none;
}

.tt-search-all {
    display: flex;
    justify-content: space-around;
}

.tt-search {
    display: flex;
    align-items: center;
    gap: 20px;
}

#tt-input {
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-brand>img {
    height: 50px;
}

.tt-search-1 {
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.tt-button {
    margin-left: 7px;
    border: none;
    background-color: #fff;
    color: #007EA9;
    font-size: 14px;
}

.tt-icon {
    text-decoration: none;
}

.tt-icon>img {
    height: 30px;
}

.tt-boder {
    height: 20px;
    border-right: 1px solid #ccc;
}

.tt-boder-1 {
    height: 20px;
    border-right: 1px solid #ccc;
    display: none;
}

#tt-form-select {
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    width: 100%;
}

.tt-anhvn {
    position: absolute;
    top: 18px;
    z-index: 1;
}

.icon-only {
    text-indent: -9999px;
}

.tt-ngonngu {
    display: flex;
    justify-content: center;
}

.tt-line {
    border-top: 1px solid #ccc;
}

#tt-menu {
    margin: auto;
    gap: 15px;
}

.container-body {
    width: 100%;
    background-color: #FBFBFB;
}

.tt-bread {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.tt-bread>i {
    margin-top: 3px;
}

.tt-bread>a {
    text-decoration: none;
    font-weight: 700;
    color: #0076CA;
}

.tt-item {
    margin-right: 5px;
}

.tt-item-1 {
    margin-left: 5px;
}

.tt-main-new {
    width: 100%;
    display: flex;
}

.tt-hot {
    width: 50%;
}

.tt-card-hot {
    text-decoration: none;
}

.card {
    width: 98%;
}

.cart-anh-1 {
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 470px;
}

.card-body-1::before {
    content: "";
    background: linear-gradient(to top, rgba(30, 107, 166, 0.8) 0%, rgba(30, 107, 166, 0) 100%, transparent 70%, transparent 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1px;
    left: 0;
    right: 0;
    z-index: -1;
}

.card-body-1 {
    position: absolute;
    bottom: 1px;
    z-index: 1;
}

#card-color {
    color: #fff;
    padding: 0;
}

.btn-size>img {
    width: 16px;
    height: 12px;
    margin-left: 5px;
}

.tt-thanhtich {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tt-thanhtich-1 {
    width: 47%;
}

.card-body>a {
    color: #999;
    font-size: 12px;
}

.card-body>a:hover {
    color: #007EA9;
}

#card-boder {
    border-radius: 0;
    height: 473px;
    min-height: 400px;
    margin-left: 5px;
}

#tt-xemthem {
    padding: 0;
}

#card-title {
    color: #0076CA;
    font-size: 15px;
    font-weight: 700;
}

.card-thanhtich>a>img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#card-text {
    font-size: 13px;
}

.tt-bottom-new {
    width: 100%;
    margin-top: 50px;
}

.card-body>a {
    text-decoration: none;
}

.tt-baiviet-1 {
    font-size: 26px;
    font-weight: 700;
}

.tt-boder-luc {
    width: 6%;
    border: 2px solid #51BE9D;
    margin-bottom: 40px;
}

.tt-list-cate {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

}

.tt-list-cate>a {
    text-decoration: none;
    font-weight: 700;
    color: #999;
    font-size: 14px;
    margin-left: 15px;
    transition: all 0.5s ease;
}

.tt-list-cate>a:hover {
    color: #0076CA;
}

.tt-thanhtich-nhieu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tt-thanhtich-nhieu-1 {
    width: 23.5%;
    margin-bottom: 25px;
}

.tt-phantrang {
    text-align: center;
    margin-bottom: 50px;
}

.tt-item-paging.active {
    padding: 4px 10px;
    border-radius: 100%;
    color: #fff;
    background-color: #0076c0;
}

.tt-item-paging.active-1:hover {
    padding: 4px 10px;
    border-radius: 100%;
    color: #fff;
    background-color: #0076c0;
}

.tt-item-paging {
    text-decoration: none;
    color: #999;
    margin: 0 5px;
    line-height: 25px;
    font-size: 15px;
}

.tt-item-paging>img {
    height: 12px;
}

.tt-bottom-main {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.tt-widget {
    color: #0076c0;
}

.tt-widget>a {
    text-decoration: none;
    color: #007EA9;
}

.tt-widget.tt-boder-right:not(:last-of-type)::after {
    content: "|";
    padding: 0 15px;
}

.tt-medium {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

#tt-medium-size {
    font-size: 15px;
    color: #222;
    transition: all 0.5s ease;
}

#tt-medium-size:hover {
    color: #0076c0;
}

#card-boder-medium {
    width: 22%;
    border-radius: 0;
    border: none;
}

#card-boder-medium>a>img {
    border-radius: 0;
    object-fit: cover;
    height: 135px;
}

#card-medium {
    background-color: #FBFBFB;
    padding: 0;
    margin-top: 1rem;
}

#zone_19 {
    min-height: 250px;
    margin: 0px;
    padding: 0px;
}

.tt-footer {
    width: 100%;
    background-color: #fff;
}

.tt-footer-1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
}

#card-footer {
    width: 20%;
    border: none;

}

#card-body-footer {
    border-radius: 0;
    border: none;
}

#card-body-footer>h5 {
    font-size: 16px;
    font-weight: 700;
}

.tt-footer-item>a {
    text-decoration: none;
}

.tt-footer-item>a>p {
    padding: 0;
    margin: 0;
    color: #4d4c4c;
    font-size: 14px;
}

.tt-footer-item>a>p:hover {
    color: #0076c0;
}

.tt-footer-item {
    margin-top: 10px;
    line-height: 27px;
}

.card-text {
    display: flex;
}

.card-text>a {
    text-decoration: none;
    margin: 10px;
}

.card-text>a>img {
    width: 35px;
    height: 35px;
}

.tt-footer-active>a>img {
    width: 130px;
    padding: 5px;

}

.tt-footer-active-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tt-footer-thongtin>img {
    width: 200px;
    padding: 5px;

}

.tt-footer-thongtin-1>img {
    width: 130px;
}

.footer-2 {
    width: 100%;
    background-color: #F7F7F7;
}

.tt-footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
}

.tt-footer-banquyen {
    font-size: 11px;
    color: #828282;
}

.tt-footer-nolist {
    list-style: none;
    display: flex;
    padding: 7px;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    margin: 0;
    font-size: 11px;
}

.tt-footer-inline {
    padding: 1px 10px;
    margin: 0;
    border-right: 1px solid #999;
}

.tt-footer-inline>a {
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #828282;
}

.tt-footer-boder-none {
    border: none;
}

.tt-menu-icon {
    display: none;
}

.tt-icon-search {
    font-size: 25px;
    color: #0076c0;
    display: none;
}

@media (1025px < width < 1430px) {
    .container-1 {
        width: 93%;
    }

    .menu {
        width: 100%;
    }

    #tt-menu {
        gap: 5px;
    }

    #card-boder {
        height: 500px;
    }
}

@media (751px < width < 1024px) {
    .container-1 {
        width: 98%;
    }

    .menu {
        width: 100%;
        display: block;
    }

    #tt-menu {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        gap: 15px;
    }

    #navbarNav {
        display: block;
    }

    #card-title {
        font-size: 14px;
    }

    #card-text {
        font-size: 11px;
    }

    .tt-thanhtich-nhieu-1 {
        width: 49.5%;

    }

    .card-thanhtich>a>img {
        height: 250px;
    }

    .tt-medium {
        gap: 20px;
        justify-content: flex-start;
    }

    #card-boder-medium {
        width: 48%;
        padding: 0;
        margin: 0;
    }

    #card-boder-medium>a>img {
        height: 300px;
    }

    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }
}

@media (width < 750px) {
    .container-1 {
        width: 98%;
        padding: 0 15px;
    }

    .tt-form-none {
        display: none;
    }

    .tt-menu-icon {
        display: block;
    }

    .tt-icon-search {
        display: block;
    }

    .tt-menu-icon>i {
        font-size: 25px;
        color: #0076c0;
    }

    .tt-search-all {
        align-items: center;
    }

    .tt-boder-1 {
        display: block;
    }

    .tt-main-new {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .tt-hot {
        width: 100%;
    }

    .tt-thanhtich-1 {
        width: 100%;
    }

    .tt-thanhtich {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }

    #card-boder {
        margin-left: 0;
        height: 420px;
    }

    .tt-thanhtich-nhieu-1 {
        width: 100%;
    }

    .tt-list-cate {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px;
    }

    .tt-list-cate>a {
        margin-left: 0;
    }

    .tt-medium {
        gap: 20px;
        justify-content: flex-start;
    }

    #card-boder-medium {
        width: 47%;
        padding: 0;
        margin: 0;
    }

    #card-boder-medium>a>img {
        width: 100%;
        height: 150px;
    }

    .tt-bottom-main {
        flex-wrap: wrap;
    }

    .tt-footer-1 {
        flex-wrap: wrap;
    }

    .tt-footer-thongtin>img {
        width: 100%;
    }

    .tt-footer-thongtin-1 {
        width: 80%;
    }

    .tt-footer-thongtin-1>img {
        width: 100%;
    }

    #card-footer {
        width: 45%;
    }
    .tt-footer-active{
        display: flex;
        flex-direction: column;
    }
    .tt-footer-2{
        justify-content: flex-end;
        flex-direction: column;
    }
    .tt-footer-nolist{
        flex-direction: column;
    }
    .tt-footer-inline{
        border: none;
    }
    .tt-footer-banquyen{
        order: 2;
    }
}